[submodule "lib/sonos"]
	path = lib/sonos
	url = https://github.com/duncan3dc/sonos.git
	branch = master
[submodule "src/js/vendor/sly"]
	path = src/js/vendor/sly
	url = https://github.com/darsain/sly.git
[submodule "src/js/vendor/coverflow"]
	path = src/js/vendor/coverflow
	url = https://github.com/vanderlee/coverflow.git
